<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <nav class="nav-bar">
        <div class="nav-new">
            <% if (member) { %>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li id="app-name">BrewNook</li>
                <li>Home</li>
                <li><a  class="a-nav"href ="/nooks/new">Add a Nook</a></li>
                <li><a class="a-log" href ="/logout">Log Out</a></li>
          <% } else { %>
            <li><a class="a-log" href ="/auth/google">Login With Google</a></li>
        </ul>
        <% } %>
        </div>
    </nav>
 <main class="wrapper">
        <section class="hero">
           
        </section>

        <% nooks.forEach(function(n) { %>
        <section class="breweries" id="breweries">

           
            <ul>
                <li id="coffee-shop"><%= n.nook %></li>
                
                <li><span>Coffee Quality: </span><%= n.coffee %></li>
                <li><span>WiFi: </span><%= n.wifi %></li>
                <li><span>Room to Work? </span><%= n.space %></li>
                <li><span>Charge Before You Go? </span><%= n.outlets %></li>
                <li><span>Hours: </span><%= n.openHour  %>am -- <%= n.closeHour %>pm</li><br>
                <% if(member) { %>
                    <a class="a-details"href="/nooks/<%= n._id %>">Details</a>
                    <% } %>
                </ul>
                    <form action="/nooks/comments" method="POST">
                        <input type="text" name="content">
                        <input type="hidden" value="<%= n._id %>" name="nook">
                        <button type="submit">Add Comment</button>
                        </form>
                        
                    </section>
                    <% }) %>
    </main>
    <footer>
        <p>&copy; 2019. Made with lots of Coffee and Free WiFi.</p>
    </footer>
</body>
</html>