<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        
            <section class="breweries" id="breweries">
    
               
                <ul>
                    
                    <img src="#" alt="">
                    <li><%= nook.nook %></li>
                    <li><%= nook.coffee %></li>
                    <li><%= nook.wifi %></li>
                    <li><%= nook.space %></li>
                    <li><%= nook.outlets %></li>
                    <li><%= nook.openHour  %>am -- <%= nook.closeHour %>pm</li>
                    <% if (member == nook.user ) { %>
                    <form action="/nooks/<%= nook._id %>/edit" method="GET">
                        <button type="submit">Edit</button>
                    </form>  
                    <% } %>
                    <% if (nook.comments.length) { %>
                        <table>
                          
                            <% nook.comments.forEach(function(n) { %>
                            <tbody>
                              <tr>
                               <td><%= n.content %></td>
                               <td><% console.log('works before if') %>
                               <td><% console.log(member) %>
                               <td><% console.log(nook.user) %>
                                   <% if (member == n.user) { %>
                                    <% console.log('if statement') %>
                                    
                                      <form action="/nooks/show/<%= n._id %>?_method=DELETE" method="POST">
                                            <button type="submit">Delete</button>
                                      </form>
                                    
                             <% } %>
                               </td>
                              </tr>
                            </tbody>
                            <% }); %>
                        </table>
                      <% } else { %>
                        <h5>No Comments Yet</h5>
                      <% } %>

                     



                    
                       
                   
                    
                    
                    
                        
                   
                   
                
            </section>
        </main>
</body>
</html>