<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        
            <section class="breweries" id="breweries">
    
               
                <ul>
                    
                    <img src="#" alt="">
                    <li><%= nook.nook %></li>
                    <li><%= nook.coffee %></li>
                    <li><%= nook.wifi %></li>
                    <li><%= nook.space %></li>
                    <li><%= nook.outlets %></li>
                    <li><%= nook.openHour  %>am -- <%= nook.closeHour %>pm</li>
                   

                    <% if (nook.comments.length) { %>
                        <table>
                          
                          <tbody>
                            <% nook.comments.forEach(function(n) { %>
                              <tr>
                               <td><%= n.content %></td>
                              </tr>
                            <% }); %>
                          </tbody>
                        </table>
                      <% } else { %>
                        <h5>No Comments Yet</h5>
                      <% } %>
                    
                       
                   
                    
                    
                    
                        
                   
                   
                
            </section>
        </main>
</body>
</html>